.carouselChar { 
  display: flex;
  justify-content: flex-start;
  margin-top: 38px;
  height: 200px;
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
  scroll-behavior: smooth;
  width: 100%;
}

.carouselChar::-webkit-scrollbar {
  display: none;
}

.wrapperChar {
  align-items: center;
  display: flex;
  width: 100%;
}

.card {
  height: auto;
  margin: 0 12px;
  width: 268px;
}

.btnCarousel {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.leftArrow {
  transform: rotate(180deg);
}

.slider {
  display: flex;
  height: 100%;
  width: 1000%;
}

.data {
  background-color: #fff;
  border: 1px solid #CFCFCF;
  border-radius: 10px;
}

.charTitle {
  background-color: #FFC700;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  height: 34px;
  padding: 8px 18px;
}

.dataTitle {
  font-size: 12px;
  padding: 8px 18px;
}

.dataChar {
  font-size: 10px;
  padding: 0 0 10px 18px;
}
