.container {
  margin: 32px 170px;
}

.sectionTitle {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 32px;
}

.linha {
  height: 1px;
  width: 100%;
  background-color: #333;
  text-align: center;
  margin: 0 220px;
}

.titulo {
  background-color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  padding: 0 20px;
  position: relative;
  top: -0.5em;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 45px 50px 50px 50px;
  width: 100%;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.releaseDate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 18px 0;
}

.details {
  display: flex;
  justify-content: space-between;
  margin: 18px 0;
}

.director {
  text-align: left;
}

.productor {
  text-align: right;
}

.title {
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  margin: 10px 0;
}

.text {
  font-size: 14px;
  line-height: 18px;
}

.imgContainer {
  height: 486px;
  width: 336px;
}

.img {
  border-radius: 15px;
  height: 486px;
  width: 336px;
}

.form {
  width: 92%;
  display: flex;
  flex-direction: column;
}

.separate {
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 0;
}

.tableTr :last-child input {
  width: 100%;
}

.tableTd {
  width: 50%;
  padding-bottom: 8px;
}

.label {
  font-size: 16px;
  line-height: 21px;
  margin: 16px 0 8px 0;
}

.input {
  border: 1px solid #C5C5C5;
  border-radius: 10px;
  width: 95%;
  height: 40px;
  padding: 0 15px;
}

.review {
  border: 1px solid #C5C5C5;
  border-radius: 10px;
  height: 135px;
  padding: 10px 15px;
}

.publish {
  align-self: flex-end;
  background-color: #00FF66;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  line-height: 21px;
  height: 40px;
  margin-top: 20px;
  width: 130px;
}

.listaReviews {
  width: 100%;
}

.card {
  height: auto;
  margin: 0 12px;
  width: 268px;
}

.dataReview {
  background-color: #fff;
  border: 1px solid #CFCFCF;
  border-radius: 10px;
}

.charTitle {
  background-color: #FFC700;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  height: 34px;
  padding: 8px 18px;
}

.dataTitle {
  font-size: 12px;
  padding: 8px 18px;
}

.dataChar {
  font-size: 10px;
  padding: 0 0 10px 18px;
}

.carregando {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FC7071;
  height: 100px;
  margin: 0 auto;
}

.loader {
  margin-right: 16px;
  height: 30px;
  color: #FC7071;
}